<div class="container mt-4">
    <form action="">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name" />
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name" />
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name" />
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-end">
        <input class="btn btn-primary mt-1" type="submit" (click)="log()" value="Submit" />
    </div>
</div>